NEO4J_HOST=localhost
NEO4J_PORT=7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=

AWS_DEFAULT_REGION=eu-west-2
MODELS_EMBEDDING=amazon.titan-embed-text-v2:0
MODELS_LLM=anthropic.claude-sonnet-4-6

LEGILO_USERNAME=
LEGILO_PASSWORD=

# NEO4J_DATA_DIR=/opt/serka/neo4j
# FEEDBACK_DATA_DIR=/opt/serka/feedback
